.mission_container {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr;
}

.mission_container:nth-child(odd) {
	background: #eeeeee;
}

button {
  padding: 8px;
  background-color: transparent;
  border-radius: 7px;
  align-self: center;
  justify-self: center;
  margin-block: 2%;
  font-size: large;
  color: gray;
}

.red {
  border-color: red;
  color: red;
}

.toogle,
.status {
  display: grid;
  border-right: lightgrey 1px solid;
  border-bottom: lightgrey 1px solid;
}

.description {
  padding-bottom: 1rem;
  border-right: lightgrey 1px solid;
  border-bottom: lightgrey 1px solid;
}

.mission-name {
  border-left: lightgrey 1px solid;
  border-right: lightgrey 1px solid;
  border-bottom: lightgrey 1px solid;
}

.cyan {
  background-color: #4cc3f1;
  color: white;
  border-radius: 3px;
  padding: 5px;
  margin-right: 1%;
  font-weight: normal;
  align-self: center;
  justify-self: center;
}

.gray {
  background-color: gray;
  color: white;
  border-radius: 3px;
  padding: 3px;
  font-weight: normal;
  align-self: center;
  justify-self: center;
}

.blue {
  background-color: rgb(0, 140, 255);
  color: white;
}